In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [57]:
df=pd.read_csv('./data/housing_price_dataset.csv')
df=df.loc[df['Price']>0,]

In [58]:
df

       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0            2126         4          1        Rural       1969  215355.283618
1            2459         3          2        Rural       1980  195014.221626
2            1860         2          1       Suburb       1970  306891.012076
3            2294         2          1        Urban       1996  206786.787153
4            2130         5          2       Suburb       2001  272436.239065
...           ...       ...        ...          ...        ...            ...
49995        1282         5          3        Rural       1975  100080.865895
49996        2854         2          2       Suburb       1988  374507.656727
49997        2979         5          3       Suburb       1962  384110.555590
49998        2596         5          2        Rural       1984  380512.685957
49999        1572         5          3        Rural       2011  221618.583218

[49978 rows x 6 columns]

In [76]:
df['YearBuilt'].max()

2021

In [59]:
df.corr(numeric_only=True)

            SquareFeet  Bedrooms  Bathrooms  YearBuilt     Price
SquareFeet    1.000000 -0.002568  -0.003381   0.000468  0.750656
Bedrooms     -0.002568  1.000000   0.007518   0.003167  0.072918
Bathrooms    -0.003381  0.007518   1.000000   0.003815  0.028322
YearBuilt     0.000468  0.003167   0.003815   1.000000 -0.002289
Price         0.750656  0.072918   0.028322  -0.002289  1.000000

In [60]:
df=df.drop('Neighborhood',axis=1)

In [61]:
x=df.loc[:,'SquareFeet':'YearBuilt']

In [62]:
y=df['Price']

In [63]:
from sklearn.model_selection import train_test_split

In [64]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=50)

In [65]:
from sklearn.linear_model import LinearRegression

In [66]:
Aregressor=LinearRegression()

In [67]:
Aregressor.fit(x_train,y_train)

LinearRegression()

In [68]:
y_pred=Aregressor.predict(x_test)

In [69]:
y_pred

array([158321.75075922, 297597.60399269, 274624.50935714, ...,
       197213.19075154, 294559.11312072, 186029.76572883])

In [70]:
y_test

40129    166579.953247
6706     303176.453897
16206    263115.018676
36033    181837.296381
43902     86011.804924
             ...
22328    282937.441193
8141     197583.112718
49411    182581.322707
6101     287383.362066
35250    141086.187485
Name: Price, Length: 9996, dtype: float64

In [71]:
((y_test-y_pred)**2).mean()

2465846046.8114705

In [72]:
import joblib

In [74]:
joblib.dump(Aregressor,'Aregressor.pkl')

['Aregressor.pkl']